@import url('https://fonts.gooogleapis.com/css?family=Raleway');
@import url('https://fonts.gooogleapis.com/css?family=Oswald');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;    
}
footer {
    padding: 20px;
}
.navbar {
    background-color: #00755e;
    border-radius: 25px;
    max-width: 500px;
    margin-left: 100px;
    margin-top: 20px;
}
.navbar-light .navbar-brand {
    color: #ffe5ff;
}
.navbar-light .navbar-nav .nav-link {
    color: #ffe5ff;
}
.intro {
    height: 100%;
    width:100%;
    margin: auto;
    background: url('../img/dbdsilang.png');   
    display: table;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;     
}
.intro .inner {
    display: table-cell;
    vertical-align: middle;   
}
.content {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 400px;
    text-align: center;
}
.content h1 {
    font-family: 'Raileway', sans-serif;
    color: #F9F3F4;
    text-shadow: 0px 0px 300px #000;
    font-size: 500%;
    font-weight: 900;
}

.btn {
    border-radius: 9px;
    font-family: 'Oswald', sans-serif;
    color: green;
    font-size: 1354;
    padding: 10px 20px;
    border: solid green; 
    background-color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
.btn:hover {
    color: blue;
    border: solid blue 3px;
}
@media screen and (max-width: 768px) {
    .content h1 {
        font-size: 1.6rem;
    }
    .btn {
        font-size: 110%;
        padding: 7px 15px;
    }
}
#showcase-container {
    /*background: url('../img/silangJungle.jpg;');*/
    background-color: #00755e;
    color: #fff;

}
#showcase h1{
    font-size:50px;
    margin-bottom:20px;
  }
.showcase-left img {
    max-width: 800px;;
    margin-left: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.showcase .showcase-left {
    margin-top: 20px;
    margin-left: 0; 

}
.showcase-btn {
    color: #fff;
    background-color:#00755e; 
    border: 3px solid #750051;
}
.showcase-btn:hover {
    border: 3px solid #750051;
    background-color:#752400;
}
#info1-container {
    background-color: #00755e;
    color: #fff;

}
#info1 h1 {
    font-size:50px;
    margin-bottom: 20px;
}
.info-left img {
    max-width: 800px;;
    margin-left: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.info-btn {
    color: #fff;
    background-color:#00755e; 
    border: 3px solid #750051;
}
.info-btn:hover {
    border: 3px solid #750051;
    background-color:#752400
}

#cha {
    border-radius: 50%;
    float: left;
    padding-right: 5px;
    margin-top: 5px;
}
#meet {
    padding-left: 10px;
   /* margin-top: 10px;*/
}
#testimonial {
    background: url('../img/jungle.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    color: #750051;
    font-size: 1.6rem;
    font-weight: bold;

}
#contact{
    background:url(../img/contact.jpg);
    background-position: cover;
    /*background-repeat: no-repeat;*/
    padding:40px;
    color:#fff;
    border-top:#333 7px solid;
    border-bottom:#333 7px solid;
  }