@import url('https://fonts.gooogleapis.com/css?family=Raleway');
@import url('https://fonts.gooogleapis.com/css?family=Oswald');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;    
}
.text-center {
    margin-top:30px;
    margin-bottom: 10px;
    /*margin-left: 100px;*/
    
}
#foot-btn {
    border-radius: 50%;
    /*padding: 1px 1px;*/
    margin-top: 10px;
    margin-bottom: 0;
    margin-right: 100px;
    

}
.navbar {
    background-color: #00755e;
    border-radius: 25px;
    max-width: 575px;
    /*max-width: 500px;*/
    margin-left: 100px;
    margin-top: 20px;
}
.navbar-light .navbar-brand {
    color: #ffe5ff;
}
.navbar-light .navbar-nav .nav-link {
    color: #ffe5ff;
}
.intro {
    height: 100%;
    width:100%;
    margin: auto;
    background: url('../img/dbdsilang.png');   
    display: table;
    top: 0;
    background-size: cover;
    background-repeat: no-repeat;     
}
.intro .inner {
    display: table-cell;
    vertical-align: middle;   
}
.content {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 400px;
    text-align: center;
}
.content h1 {
    font-family: 'Raileway', sans-serif;
    color: #F9F3F4;
    text-shadow: 0px 0px 300px #000;
    font-size: 500%;
    font-weight: 900;
}

.btn {
    color: #fff;
    background-color:#00755e; 
    border: 3px solid #750051;
    border-radius: 9px;
    font-family: 'Oswald', sans-serif;
    font-size: 1354;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 5px;
}
.btn:hover {
    border: 3px solid #750051;
    background-color:#752400;
}

#showcase-container {
    /*background: url('../img/silangJungle.jpg;');*/
    background-color: #00755e;
    color: #fff;

}
#showcase h1{
    font-size:50px;
    margin-bottom:20px;
  }
.showcase-left img {
    widows: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    /*
    max-width: 800px;;
    margin-left: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    */
}
.showcase .showcase-left {
    margin-top: 20px;
    margin-left: 0; 

}
#info1-container {
    background-color: #00755e;
    color: #fff;
}
#info1 h1 {
    font-size:50px;
    margin-bottom: 20px;
}
.info-left img {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    /*
    max-width: 800px;;
    margin-left: 75px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    */
}
.info-btn {
    color: #fff;
    background-color:#00755e; 
    border: 3px solid #750051;
}
.info-btn:hover {
    border: 3px solid #750051;
    background-color:#752400
}

#cha {
    float: left;
    padding-right: 5px;
    margin-top: 5px;
}
#meet {
    padding-left: 10px;
   /* margin-top: 10px;*/
}
#testimonial {
    background: url('../img/jungle.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    color: #191919;
    font-size: 1.6rem;
    font-weight: bold;
}
#cha-text {
    margin: 0;
    /*color: #d7fff7;*/
}
#contact{
    background:url(../img/contact.jpg);
    background-position: cover;
    /*background-repeat: no-repeat;*/
    padding:40px;
    color:#fff;
    border-top:#333 1px solid;
    border-bottom:#333 7px solid;
}
#message {
    background:url('../img/cross.jpg');
    background-position: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    /*
    padding:40px;
    color:#fff;
    border-top:#333 1px solid;
    border-bottom:#333 7px solid;*/
}
.schedule {
    background-image:url('../img/schedule.jpg');
    background-size: cover;
    min-height:400px;
    background-repeat:no-repeat;
    
    /*
        fixed = parallax
        scroll = normal
    */
    background-attachment:fixed;

    border-bottom: #333 7px solid;
}
.ptext {
    padding-top: 40px;
    color: #D5D5D5;
    /*position: relative;*/
    text-align: center;
    font-weight: bold;    
    letter-spacing: 0.2em;
    
    font-weight: 600;
    font-family: 'Mountains of Christmas';
    /*text-shadow: 0px 0px 8px rgb(255, 65, 128);*/
    text-shadow: 0px 0px 8px rgba(255,65,185,1);
    
}
h1 {
    font-size: 3.5em;
    padding: 3px 0
}
#lead {
    font-size: 4em;
    text-decoration: underline;
}
@media(max-width:568px){
    .schedule{
      background-attachment:scroll;
    }
  }
  @media screen and (max-width: 768px) {
    .content h1 {
        font-size: 1.6rem;
    }
    .btn {
        font-size: 110%;
        padding: 7px 15px;
    }
    #foot-btn {
        margin-right: 0;
        margin-left: 110px;
        
    }
}
/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 1199px) { 
    #cha-text {
        color: #fff;
    }
}
 


